version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=sqlite:///./backend/app/sqlite.db
    volumes:
      - sqlite_data:/app/backend/app

volumes:
  sqlite_data: