version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - sqlite_data:/app/sqlite.db
      - ./backend/app/static/uploads:/app/backend/app/static/uploads
    environment:
      - DATABASE_URL=sqlite:///./app/sqlite.db

volumes:
  sqlite_data: